<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="true">

	<bean id="searchRuleDateService" class="com.sinovatech.search.services.impls.lucene.SearchRuleDateServiceImpl" />
	<bean id="searchKeywordLogService" class="com.sinovatech.search.services.impls.lucene.SearchKeywordLogServiceImpl" />
	<bean id="searchCommandService" class="com.sinovatech.search.services.impls.lucene.SearchCommandServiceImpl" />
	<bean id="searchAppService" class="com.sinovatech.search.services.impls.lucene.SearchAppServiceImpl" />
	<bean id="dictionaryindexService" class="com.sinovatech.search.services.impls.lucene.DictionaryindexServiceImpl" />
	<bean id="dictionaryService" class="com.sinovatech.search.services.impls.lucene.DictionaryServiceImpl" />
	<bean id="initSearchApp" class="com.sinovatech.search.cache.InitSearchApp" />
	<bean id="searchMessageService" class="com.sinovatech.search.services.impls.lucene.SearchMessageServiceImpl" />
	<bean id="luceneSearchService" class="com.sinovatech.search.services.impls.lucene.LuceneSearchServiceImpl" />
	<bean id="callwsService" class="com.sinovatech.search.services.impls.CallwsServiceImpl" />
	<bean id="userService" class="com.sinovatech.search.services.impls.lucene.UserServiceImpl" />
	<bean id="recommendService" class="com.sinovatech.search.services.impls.lucene.RecommendServiceImpl" />
	<bean id="synonymWordService" class="com.sinovatech.search.services.impls.lucene.SynonymWordServiceImpl"/>
    <bean id="collectInfoService" class="com.sinovatech.search.services.impls.lucene.CollectInfoServiceImpl">
        <property name="clazzName" value="com.sinovatech.search.entity.LoggerInfoDto"></property>
    </bean>
    <bean id="searchClickVisitLogService" class="com.sinovatech.search.services.impls.lucene.SearchClickVisitLogServiceImpl"/>
    <bean id="cindexLogService" class="com.sinovatech.search.services.impls.lucene.CindexLogServiceImpl"/>
    
	<!-- 非Spring调用 -->
	<bean class="com.sinovatech.search.utils.SpringContextHolder" />
 
</beans>